* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body header {
  min-width: 100%;
  align-items: center;
}

.top-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-height: 45px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  z-index: 999;
  background-color:#FFF;
  top:0;
  padding-top: 10px;
  padding-bottom: 10px;

}

.top-nav-items {
margin-left: 30px;

}
.top-nav-logo {
margin-left: 290px;
margin-right: 220px;

}
.top-nav-bttn {
margin: 5px;
background-color: #567B95;
border: 1px solid #567B95;
border-radius: 3px;
color: #FFF;
}

.art-title {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  max-width: 600px;
  margin-left: 20px;
  margin-right: 20px;
}

.introduction {
  margin-top: 90px;
  align-items: center;
}

.header-img {
  height: auto;
  max-width: 1000px;
}
