* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body header {
  min-width: 100%;
  align-items: center;
}

.top-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-height: 45px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  z-index: 999;
  background-color:#FFF;
  top:0;
  padding-top: 10px;
  padding-bottom: 10px;

}

.top-nav-items {
margin-left: 30px;

}
.top-nav-logo {
margin-left: 290px;
margin-right: 220px;

}
.top-nav-bttn {
margin: 5px;
background-color: #567B95;
border: 1px solid #567B95;
border-radius: 3px;
color: #FFF;
}

.introduction {
  margin-top: 90px;
  align-items: center;
}

.mid-nav {
  border-top: 1px solid #ebebeb;
  margin-left: 280px;
  padding-top: 15px;

}

.art-title {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  max-width: 600px;
  margin-left: 280px;
  margin-right: 20px;
}

.header-img {
  height: auto;
  max-width: 1000px;
  margin-left: 90px;
}

.fig-cap1 {
  margin-left: 90px;
  max-width: 800px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 16px;
  line-height: 20px;
}

.art-text {
  margin-left: 270px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  max-width: 600px;
}

#image-03 {
  margin-left: 0;
  width: 580px;
  align-self: center;
}

.fig-cap2 {
  max-width: 560px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 15px;
  line-height: 20px;
}