* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body header {
  min-width: 100%;
  align-items: center;
}

.top-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-height: 45px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  z-index: 999;
  background-color:#FFF;
  top:0;
  padding-top: 10px;
  padding-bottom: 10px;

}

.top-nav-items {
margin-left: 30px;

}
.top-nav-logo {
margin-left: 290px;
margin-right: 220px;

}
.top-nav-bttn {
margin: 5px;
background-color: #567B95;
border: 1px solid #567B95;
border-radius: 3px;
color: #FFF;
}

.introduction {
  margin-top: 90px;
  align-items: center;
}

.mid-nav {
  border-top: 1px solid #ebebeb;
  margin-left: 280px;
  padding-top: 15px;

}

.art-title {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  max-width: 600px;
  margin-left: 280px;
  margin-right: 20px;
}

.header-img {
  height: auto;
  max-width: 1000px;
  margin-left: 90px;
}

.fig-cap1 {
  margin-left: 90px;
  max-width: 800px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 16px;
  line-height: 20px;
}

.art-text {
  margin-left: 270px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  max-width: 600px;
}

#image-03 {
  margin-left: 0;
  width: 580px;
  align-self: center;
}

.fig-cap2 {
  max-width: 560px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 15px;
  line-height: 20px;
}

.art-nav {
  max-width: 600px;
  margin-left: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.soc-media {
  margin: 7px;
}

.art-foot-notes {
  margin-left: 270px;
  max-width: 560px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 11px;
  line-height: 20px;
}

.art-h2 {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 20px;
}

/* editor's picks section */

.editors-picks {
  border: 1px solid black;
  position: absolute;
  padding-left: 0;
  width: 210px;
  height: auto;
  float: right;
  margin-left: 950px;
  margin-top: 850px;
}

.editors-picks h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.editors-picks img {
  display: block;
  float: left;
  padding: 7px;
}

.editors-picks a {
  padding-top: 5px;
  margin-right: 15px;
  display: block;
  width: 210px;
  height: 80px;
  font-size: 15px;
  color: #000;
  text-decoration: none;
}


/* inflation theory section*/

.inflation-theory {
  width: 850px;
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.img-comment {
  width: 212px;
  height: 150px;
  margin-top: 130px;
  padding-right: 3px;
  padding-left: 3px;
  font-family: nyt-franklin, arial, helvetica, 'sans serif';
  font-size: 12px;
  line-height: 17px;
}

.inflation-theory-caption {
  margin-left: 200px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 12px;
}

.infl-th-h3 {
  margin-left: 200px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}


.infl-th-comment {
  margin-left: 200px;
  width: 850px;
  font-family: nyt-cheltenham-sh, georgia, "times new roman", times, serif;
  font-size: 12px;
  color: rgb(102, 102, 102);
}

/* additional topics */

.additional-topics {
  display: grid;
  grid-template-columns: 314px 314px 314px 314px;
  grid-template-rows: 352px 338px 338px;
  grid-template-areas:
      "first first first second"
      "third third third second"
      "third third third second"
}

.suggested-newsletters {
  border: 1px solid black;
  grid-area: first;
}

.most-popular {
  border: 1px solid black;
  grid-area: second;
}

.space-astronomy {
  border: 1px solid black;
  grid-area: third;
}